body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #2098C7 0%, #8fd3f4 51%, #FFD700 100%);
}

header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgb(32, 152, 199);
    z-index: 9999;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 0 1vw; 
    margin: 0;
}

.header-button {
    background-color: rgb(32, 152, 199);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 190%;
    cursor: pointer;
    margin: 2vw 2vh;
}

.header-button:hover {
    color: #727272;
}

.header-content-container {
    display: flex;
    align-items: center;
}

.Logo {
    margin-top: 1%;
    margin-right: 2%;
    width: 10vw;
    height: 10vh;
    max-width: 100px;
    object-fit: contain;

}



.Name-header {
    color: rgb(255, 255, 255);
    margin: 0;
}


.content-container {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}


.center-text {
    text-align: center;
    margin-top: 20%;
}

.center-image {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 50%;
    object-fit: cover;
} 





.text-group {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    flex-wrap: wrap;
}

.text-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-group ul li {
    margin-bottom: 40%;
}

.text-group-con {
    flex: 1;
    margin-left: 5%;

}

.text-group .left-column,
.text-group .right-column {
    flex: 1;
}

.showSlides2-undertext {
    margin-top: 25%;
    width: 75%;
}


.slider img {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: 100vh; /* Adjust the height value as needed */
}
